@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';



.comments {
    top: 100%;
    margin: auto;
    padding-left: 25%;
    height: 100%;
    overflow: scroll;
    padding-top: 50%;
}

@media screen and (max-width: 500px) {
   .comments {
    margin-right: -100%;
    padding-top: 120%;
    height: 100%;
    overflow: scroll;
  }
}