@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';




.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 20px;
  margin-top: -5%;

}

.poll {
  display: table;
  margin: 0 auto;
  width: 30%;
}

.likePanel {
  text-align: center;
}

.dislikePanel {
  text-align: center;
}

.votePanel {
  border: 0;
  background-color: #eef3f9;
}


.commentPanel {
  border: 0;
  background-color: #eef3f9;
}

#f1a4774aba4390c {
  background-color: white
}

@media screen and (max-width: 800px) {
    .logo {
      left: 0;
      right: 0;
      margin: auto;
      position: relative;
      width:100%;
    }
    .header {
      font-size: 15px;
      margin-top: 5%;
      margin-bottom: 20%;
    }

    .next {
      display: none;
    }

    .prev {
      display: none;
    }

    .poll {
      left:0;
      text-align: center;
    }

}

div.pds-vote {
  text-align: center;
}

  .selectors {
    text-align: center;
  }

  .commentButton {
    display: table;
    margin: 0 auto;
    width: 50%;
  }

  .vote {
    display: table;
    margin: 0 auto;
    margin-top: 1%;
    width:30%;
  }


