@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';




.button {
  color: red;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 500px) {
   h1 {
        position: absolute;
    left: 100%;
  }
}