@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';




.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 20px;
  margin-top: -5%;
}

.likePanel {
  text-align: center;
}

.dislikePanel {
  text-align: center;
}



@media screen and (max-width: 800px) {
    .logo {
      left: 0;
      right: 0;
      margin: auto;
      position: relative;
      width:100%;
    }
    .header {
      font-size: 15px;
      margin-top: -5%;
    }

    .next {
      display: none;
    }

    .prev {
      display: none;
    }

}

  .selectors {
    text-align: center;
    padding-bottom: 3%;
  }

  .commentButton {
    position: relative;
    float: right;
  }


