


.well {
  text-align: center;
  font-size: 20px;

}



.like {


  }

.dislike {


}




@media screen and (max-width: 800px) {

.well {
  padding: 10px;
  font-size: 12px;
}

span, span * {
  width: 100% !important;
}



}