


.well {
  position: relative;
  right: 0;
  margin: 0;
  left: 15%;
  font-size: 20px;

}


.well>iframe {
  width: 50% !important;
}


@media screen and (max-width: 800px) {

.well {
  left: 0;
  font-size: 12px;
}

span, span * {
  width: 100% !important;
}




}